.admission-wrapper{
    margin-bottom: 11rem;
    .title{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        font-family: sans-serif;
    }
    .registration-wrapper{
        ul{
            list-style: none;
        }
    }
}

