.home-wrapper{
    margin-bottom: 5rem;
.mission-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .mission-content{
        h2{
            text-align: center;
            //text-decoration: underline;
            font-family: sans-serif;
        }
    
        ul{
            list-style-type: none;
            font-style: italic;
            font-weight: 600;
            font-size: 15px;
            line-height: 23px;
            color: #636464;
            font-family: ui-sans-serif;
        }
    }
    .img-wrapper{
        margin: 10px 0px;
        img{
            height: 200px;
            width: 200px;
        }
    } 
}

.founder-wrapper{
    h2{
        text-align: left;
        //text-decoration: underline;
        font-family: sans-serif;
    }
    .founder-content-wrapper{
        display: flex;
        justify-content: space-between;
        
        .img-wrapper{
            margin: 10px 100px 10px 0px;
            img{
                height: 200px;
                width: 200px;
            }
        } 
    }
}

.home-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2{
        text-decoration: underline;
        font-family: sans-serif;
    }

    .home-information-event-wrapper{
        margin: 0px 10px;
        .home-information-event-item{
            text-align: center;
            background: cornflowerblue;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            margin: 5px;
            padding: 5px 15px;
           a{
            text-decoration: none;
            color: white;
           }
        }
    }

    .home-item-gallery{
        margin: 0px 25px;
        img{
            width: 100px;
            height: 100px;
        }
    }

    .home-item-testimonials{
        margin: 0px 10px;
       .home-item-testimonials-content{
        height: 200px;
        width: 200px;
        .testimonials-content{
            font-family: sans-serif;
            font-size: 13px;
        }
        .testimonials-user{
            font-weight: bold;
            color: #1c61a5;
            font-size: small;
            text-align: center;
            display: block;
            font-family: cursive;
        }
       }
    }
}
}

.scrolling-notice-wrapper{
    color: #060a0e;
    font-weight: bold;
    font-style: italic;
}