.team-wrapper{
    .teacher-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .teacher-list-item{
            margin: 5px;
            width: 18rem;
            font-size: 1rem;
        }

        .coordinator-list-item{
            margin: 5px;
            width: 18rem;
            font-size: 1rem;
        }
    }
}